/**
 * @file
 * SCSS file to generate CSS.
 *
 * Layout SCSS.
 */
/* Import of variables created for site */
/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */
/**
 * Font face
 */
/* URLs */
/* Color code */
/**
 * Media query (for responsive design)
 */
/* End */
/**
 * @file
 * SCSS file for Mixins.
 *
 * All mixins used in SCSS are defined in this file.
 */
/**
 * Gradient
 *
 * background-vertical = Top to Bottom
 * background-horizontal = Left to Right
 * background-diagonal-tl-br = Top-Left to Bottom-Right
 * background-diagonal-bl-tr = Bottom-Left to Top-Right
 */
/*@mixin background-vertical($top, $bottom) {
  background: $top;
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
  background:    -moz-linear-gradient(top, $top 0%, $bottom 100%);
  background:         linear-gradient(to bottom, $top 0%, $bottom 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0);
}*/
/**
 * @file
 * SCSS file to generate CSS.
 *
 * All fonts used in SCSS are defined in this file.
 */
/* OpenSans fonts */
@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/OpenSans/OpenSans-Regular.woff"); }

@font-face {
  font-family: "OpenSans Extrabold";
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.woff"); }

@font-face {
  font-family: "OpenSans Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.woff"); }

@font-face {
  font-family: "OpenSans SemiBold";
  src: url("../fonts/OpenSans/OpenSans-Semibold.woff"); }

@font-face {
  font-family: "OpenSans BoldItalic";
  src: url("../fonts/OpenSans/OpenSans-BoldItalic.woff"); }

@font-face {
  font-family: "OpenSans Italic";
  src: url("../fonts/OpenSans/OpenSans-Italic.woff"); }

@font-face {
  font-family: "OpenSans light";
  src: url("../fonts/OpenSans/OpenSans-Light.woff"); }

/**
 * @file
 * SCSS file to generate CSS.
 *
 * Base css of site
 */
* {
  line-height: normal;
  vertical-align: top; }

body {
  margin: 0;
  font-family: "OpenSans Extrabold"; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

img {
  height: auto;
  max-width: 100%; }

video {
  height: auto;
  width: 100%; }

p {
  font-size: 16px;
  font-family: "OpenSans Regular"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "OpenSans SemiBold"; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

/**
 * @file
 * SCSS file to generate CSS.
 *
 * Design of Typography.
 */
body {
  color: #888C8F;
  font-family: "OpenSans Regular"; }
  body h2 {
    color: #FFF; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * @file
 * SCSS file to generate CSS.
 *
 * Container design.
 * Tab design.
 * Social media design.
 * Owl Carousel design.
 * Page title design.
 * Pageination design.
 * Default Contextual-links design for D8
 */
/* Container Width */
.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media (max-width: 1200px) {
    .container {
      width: 970px; } }
  @media (max-width: 992px) {
    .container {
      width: 750px; } }
  @media (max-width: 768px) {
    .container {
      width: 100%; } }

/* Tab Design */
.tab {
  position: relative; }
  .tab::after {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: inline-block;
    height: 37px;
    width: 37px;
    margin-bottom: -19px;
    margin-left: -45px;
    background-color: #3864FF;
    content: '';
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .tab .tab-icon {
    position: relative;
    z-index: 2;
    display: inline-block;
    max-height: 44px;
    width: 53px;
    padding: 15px 0 0;
    background-color: #3864FF;
    color: #FFF;
    font-size: 32px;
    text-align: center; }
    .tab .tab-icon:hover i {
      -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      transform: rotate(-60deg); }
    .tab .tab-icon i {
      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
      transition: all 2s ease; }

/* Social media design */
.social-media {
  float: right;
  width: 25%;
  margin: 17px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .social-media:hover a i {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  @media (max-width: 1200px) {
    .social-media {
      width: 100%; } }
  .social-media a {
    display: inline-block;
    margin: 0 12px;
    color: #888C8F; }
    .social-media a i {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      @media (max-width: 1200px) {
        .social-media a i {
          padding-left: 0; } }
      .social-media a i:hover {
        color: #FFF;
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-animation: scalesmalltolarge 2s ease-in-out;
        -moz-animation: scalesmalltolarge 2s ease-in-out;
        -ms-animation: scalesmalltolarge 2s ease-in-out;
        animation: scalesmalltolarge 2s ease-in-out; }

@-webkit-keyframes scalesmalltolarge {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); } }

@-moz-keyframes scalesmalltolarge {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); } }

@-o-keyframes scalesmalltolarge {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); } }

@keyframes scalesmalltolarge {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); } }

/* End */
/* Owl Carousel design */
.banner .owl-controls .owl-nav,
.about-us-testimonial .owl-controls .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 100%;
  margin-top: -30px; }
  .banner .owl-controls .owl-nav .owl-prev,
  .banner .owl-controls .owl-nav .owl-next,
  .about-us-testimonial .owl-controls .owl-nav .owl-prev,
  .about-us-testimonial .owl-controls .owl-nav .owl-next {
    position: absolute;
    background-color: transparent;
    font-size: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .banner .owl-controls .owl-nav .owl-prev:hover,
    .banner .owl-controls .owl-nav .owl-next:hover,
    .about-us-testimonial .owl-controls .owl-nav .owl-prev:hover,
    .about-us-testimonial .owl-controls .owl-nav .owl-next:hover {
      background-color: transparent; }
    .banner .owl-controls .owl-nav .owl-prev::after,
    .banner .owl-controls .owl-nav .owl-next::after,
    .about-us-testimonial .owl-controls .owl-nav .owl-prev::after,
    .about-us-testimonial .owl-controls .owl-nav .owl-next::after {
      display: inline-block;
      padding: 5px;
      color: #272B65;
      font-size: 40px;
      font-family: 'FontAwesome'; }
      @media (max-width: 480px) {
        .banner .owl-controls .owl-nav .owl-prev::after,
        .banner .owl-controls .owl-nav .owl-next::after,
        .about-us-testimonial .owl-controls .owl-nav .owl-prev::after,
        .about-us-testimonial .owl-controls .owl-nav .owl-next::after {
          font-size: 25px; } }
  .banner .owl-controls .owl-nav .owl-next,
  .about-us-testimonial .owl-controls .owl-nav .owl-next {
    right: 0; }
    @media (max-width: 480px) {
      .banner .owl-controls .owl-nav .owl-next,
      .about-us-testimonial .owl-controls .owl-nav .owl-next {
        margin-right: 0;
        padding: 0; } }
    .banner .owl-controls .owl-nav .owl-next::after,
    .about-us-testimonial .owl-controls .owl-nav .owl-next::after {
      content: '\f054'; }
  .banner .owl-controls .owl-nav .owl-prev,
  .about-us-testimonial .owl-controls .owl-nav .owl-prev {
    left: 0; }
    @media (max-width: 480px) {
      .banner .owl-controls .owl-nav .owl-prev,
      .about-us-testimonial .owl-controls .owl-nav .owl-prev {
        margin-left: 0;
        padding: 0; } }
    .banner .owl-controls .owl-nav .owl-prev::after,
    .about-us-testimonial .owl-controls .owl-nav .owl-prev::after {
      content: '\f053'; }

.banner .owl-controls .owl-dots,
.about-us-testimonial .owl-controls .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 6px;
  margin-left: -35px; }
  .banner .owl-controls .owl-dots .owl-dot,
  .about-us-testimonial .owl-controls .owl-dots .owl-dot {
    float: left; }
    .banner .owl-controls .owl-dots .owl-dot.active span,
    .about-us-testimonial .owl-controls .owl-dots .owl-dot.active span {
      background: #272B65; }

/* End */
/* Page title Design */
.page-title {
  display: inline-block;
  border-bottom: 3px solid #FFF; }

/* End */
/* Pagination design */
.pagination {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .pagination ul {
    display: inline-block;
    margin: 0;
    list-style: none; }
    .pagination ul li {
      display: inline-block;
      margin: 0 5px; }
      .pagination ul li a {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #FFF;
        color: #FFF;
        font-size: 18px; }
        .pagination ul li a:hover {
          background-color: #FFF;
          color: #272B65; }
      .pagination ul li.active a {
        background-color: #FFF;
        color: #272B65;
        cursor: not-allowed; }

/* End */
/**
 * Default Contextual-links design for D8
 */
.contextual {
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 500;
  min-height: 0 !important;
  height: auto !important;
  padding: 0 !important;
  background-color: transparent !important; }
  .contextual .trigger .visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important; }
  .contextual ul.contextual-links {
    position: relative !important;
    float: right !important;
    clear: both !important;
    top: -1px !important;
    right: 6px !important;
    margin: 0 !important;
    padding: .25em 0 !important;
    border: 1px solid #CCC !important;
    background-color: #FFF !important;
    text-align: left !important;
    white-space: normal !important;
    -webkit-border-radius: 4px 0 4px 4px !important;
    -moz-border-radius: 4px 0 4px 4px !important;
    -ms-border-radius: 4px 0 4px 4px !important;
    border-radius: 4px 0 4px 4px !important; }
    .contextual ul.contextual-links[hidden] {
      display: none !important; }
    .contextual ul.contextual-links li {
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      font-size: inherit !important;
      line-height: normal !important;
      font-family: inherit !important;
      letter-spacing: normal !important;
      text-decoration: none !important;
      list-style: none !important;
      list-style-image: none !important;
      opacity: 1 !important; }
      .contextual ul.contextual-links li a {
        height: auto !important;
        width: 100% !important;
        margin: 0 !important;
        background-color: none !important;
        line-height: normal !important;
        text-decoration: none !important; }
        .contextual ul.contextual-links li a:hover {
          border: none !important;
          background-color: #F7FCFF !important;
          text-decoration: none !important;
          -webkit-box-shadow: none !important;
          -moz-box-shadow: none !important;
          -ms-box-shadow: none !important;
          box-shadow: none !important; }

/* End */
/**
 * @file
 * SCSS file to generate CSS.
 *
 * Slider
 */
.addweb-slider {
  position: relative;
  height: 300px;
  overflow: hidden;
  background-color: #D6CFBC; }

.addweb-slider .addweb-row {
  display: inline-block;
  width: 100%; }

.addweb-slider .addweb-row .addweb-col {
  width: 100%;
  background-color: #594005;
  color: #FFF;
  text-align: center; }

.addweb-slider .addweb-row .addweb-col.addweb-col-2 {
  background-color: #9B6D00; }

.addweb-slider .addweb-row .addweb-col .addweb-content {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%; }

.addweb-slider .addweb-row .addweb-col .addweb-title {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  vertical-align: middle; }

.addweb-slider .addweb-row .addweb-col .addweb-title .addweb-title-sub {
  display: table-cell;
  background-color: rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  font-size: 36px;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.7); }

/* For Desktop Effect */
@media (min-width: 768px) {
  .addweb-slider .addweb-row {
    position: absolute;
    top: 0;
    z-index: 9;
    clear: both;
    float: left;
    display: flex;
    width: 100%; }
  .addweb-slider .addweb-row.active {
    z-index: 10; }
  .addweb-slider .addweb-row.active .addweb-col {
    left: 0;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); }
  .addweb-slider .addweb-row.active .addweb-col.addweb-col-2 {
    right: 0; }
  .addweb-slider .addweb-row .addweb-col {
    position: relative;
    left: -100%;
    width: 50%;
    -webkit-transition: all 1.5s ease 0s;
    -moz-transition: all 1.5s ease 0s;
    transition: all 1.5s ease 0s;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform: scale(0, 0); }
  .addweb-slider .addweb-row .addweb-col.addweb-col-2 {
    right: -100%;
    left: auto; } }

/* For Mobile Effect */
@media (max-width: 767px) {
  .addweb-slider .addweb-row .addweb-col {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    opacity: 0;
    -webkit-transition: all 1.5s ease 0s;
    -moz-transition: all 1.5s ease 0s;
    transition: all 1.5s ease 0s;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform: scale(0, 0); }
  .addweb-slider .addweb-row .addweb-col.active {
    z-index: 9;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

/* Next/Prev Control */
.addweb-slider .addweb-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  margin: 0 0 0 -30px; }

.addweb-slider .addweb-controls a {
  display: inline-block;
  height: 23px;
  width: 30px;
  background-image: url("../images/white-arrow-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  content: ''; }

.addweb-slider .addweb-controls a.addweb-next-link {
  transform: rotate(180deg); }

.addweb-slider .addweb-controls a.hide-arrow {
  opacity: .3; }

@media (max-width: 767px) {
  .addweb-slider .addweb-controls {
    right: 0;
    left: 0;
    width: -webkit-calc("100% - 30px");
    width: -moz-calc("100% - 30px");
    width: calc("100% - 30px");
    margin: 0 15px; }
  .addweb-slider .addweb-controls a {
    text-align: left; }
  .addweb-slider .addweb-controls a.addweb-next-link {
    float: right; } }

/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header SCSS.
 */
/* Logo */
.site-logo a {
  display: inline-block;
  max-width: 200px; }
  .site-logo a svg,
  .site-logo a img {
    height: 100px;
    width: auto; }

.site-name {
  display: none; }

/* Header */
.header {
  display: inline-block;
  width: 100%;
  padding: 10px 0 0;
  background-color: #2E333E;
  /* Social media design */
  /* End */ }
  .header .container {
    position: relative; }
  .header #block-mainnavigation-menu {
    display: none; }
  .header .menu--main {
    display: inline-block;
    width: 100%; }
    .header .menu--main .toggle-menu {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      margin-top: 18px;
      margin-right: 20px; }
      @media (max-width: 992px) {
        .header .menu--main .toggle-menu {
          display: block; } }
      .header .menu--main .toggle-menu .menu-toggle-btn {
        float: right;
        /*height: 35px;*/
        width: 35px;
        margin: 0;
        /*background-image: url('../images/menu-icon.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        @include transition(all .5s ease 0s);*/
        /*&.close-menu {
          background-image: url('../images/menu-icon-close.svg');
        }*/ }
        .header .menu--main .toggle-menu .menu-toggle-btn span {
          display: block;
          height: 4px;
          width: 35px;
          margin-top: 4px;
          background-color: #EFEFEF;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          -ms-border-radius: 1px;
          border-radius: 1px; }
    .header .menu--main .aws-close-btn {
      display: none; }
      @media (max-width: 992px) {
        .header .menu--main .aws-close-btn {
          display: inline-block; } }
    .header .menu--main ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none; }
      @media (max-width: 992px) {
        .header .menu--main ul.navigation {
          position: relative;
          margin-top: 50px; } }
      .header .menu--main ul li {
        position: relative;
        float: left;
        padding: 0 10px; }
        @media (max-width: 992px) {
          .header .menu--main ul li {
            display: inline-block;
            width: 100%;
            margin-top: -1px;
            padding: 0;
            border-top: 1px solid #F1F1F1;
            border-bottom: 1px solid #F1F1F1; } }
        @media (min-width: 992px) {
          .header .menu--main ul li.menu-item--expanded::before {
            position: absolute;
            top: 50%;
            right: 0;
            display: inline-block;
            height: 10px;
            width: 10px;
            margin: -4px 5px 0;
            background-image: url("../images/down-arrow.svg");
            background-repeat: no-repeat;
            background-size: 100% auto;
            content: ''; } }
        .header .menu--main ul li a {
          display: inline-block;
          width: 100%;
          padding: 25px 5px;
          border-bottom: 2px solid transparent;
          color: #F1F1F1;
          font-size: 15px;
          font-family: "OpenSans Regular"; }
          .header .menu--main ul li a:hover {
            border-bottom: 2px solid #3864FF;
            color: #3864FF; }
            @media (max-width: 992px) {
              .header .menu--main ul li a:hover {
                border-bottom: none; } }
          @media (max-width: 992px) {
            .header .menu--main ul li a {
              display: inline-block;
              padding: 10px 50px 10px 10px;
              border-bottom: none; } }
        @media (min-width: 992px) {
          .header .menu--main ul li:hover.menu-item--expanded .menu {
            display: block; } }
        .header .menu--main ul li.menu-item--expanded {
          padding: 0 15px 0 10px;
          list-style: none; }
          .header .menu--main ul li.menu-item--expanded .menu {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            display: none;
            margin-top: 70px;
            border-top: 2px solid #3864FF;
            background-color: #2E333E;
            font-size: 14px;
            white-space: nowrap; }
            .header .menu--main ul li.menu-item--expanded .menu li {
              width: 100%;
              padding: 0;
              border-bottom: 1px solid #FFF; }
              .header .menu--main ul li.menu-item--expanded .menu li:last-child {
                border-bottom: none; }
              .header .menu--main ul li.menu-item--expanded .menu li:hover {
                background-color: #424751; }
                @media (min-width: 992px) {
                  .header .menu--main ul li.menu-item--expanded .menu li:hover.submenu-parent .submenu-level {
                    display: block; } }
              @media (max-width: 992px) {
                .header .menu--main ul li.menu-item--expanded .menu li {
                  background-color: #424751; } }
              .header .menu--main ul li.menu-item--expanded .menu li a {
                display: inline-block;
                min-width: 145px;
                width: 100%;
                padding: 10px;
                border-bottom: none;
                color: #FFF;
                -webkit-transition: all 0.4s linear;
                -moz-transition: all 0.4s linear;
                -ms-transition: all 0.4s linear;
                transition: all 0.4s linear; }
                .header .menu--main ul li.menu-item--expanded .menu li a:hover {
                  border-bottom: none;
                  text-indent: 2px; }
              @media (max-width: 992px) {
                .header .menu--main ul li.menu-item--expanded .menu li.submenu-parent a {
                  padding-right: 50px; } }
              .header .menu--main ul li.menu-item--expanded .menu li.submenu-parent .submenu-level {
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                margin-top: -2px;
                margin-left: 145px;
                border-top: 2px solid #3864FF;
                background-color: #2E333E;
                white-space: nowrap; }
                @media (max-width: 992px) {
                  .header .menu--main ul li.menu-item--expanded .menu li.submenu-parent .submenu-level {
                    position: relative;
                    margin-top: 0;
                    margin-left: 0;
                    border-top: none; }
                    .header .menu--main ul li.menu-item--expanded .menu li.submenu-parent .submenu-level li {
                      background-color: #81848B; } }
            .header .menu--main ul li.menu-item--expanded .menu .menu {
              left: 100%;
              display: none;
              margin-top: 10px; }
            .header .menu--main ul li.menu-item--expanded .menu li:hover > .menu {
              display: block; }
            @media (max-width: 992px) {
              .header .menu--main ul li.menu-item--expanded .menu {
                position: relative;
                display: none;
                width: 100%;
                margin-top: 0;
                border-top: none;
                border-bottom: none; } }
        .header .menu--main ul li .cart-arrow {
          position: absolute;
          top: 0;
          right: 0;
          left: auto;
          z-index: 999;
          display: none;
          height: 41px;
          width: 50px;
          margin: 0;
          background-image: url("../images/dropdown-arrow.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 33px;
          cursor: pointer; }
          @media (max-width: 992px) {
            .header .menu--main ul li .cart-arrow {
              display: block; } }
    @media (max-width: 992px) {
      .header .menu--main .menu-offset-left {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 9;
        display: inline-block;
        height: 100%;
        width: 50%;
        overflow: auto;
        background-color: #2E333E;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s; } }
  @media (max-width: 992px) and (max-width: 480px) {
    .header .menu--main .menu-offset-left {
      width: 80%; } }
    @media (max-width: 992px) {
        .header .menu--main .menu-offset-left .aws-close-btn {
          position: absolute;
          top: 0;
          right: 0;
          margin: 15px;
          font-size: 0;
          cursor: pointer; }
          .header .menu--main .menu-offset-left .aws-close-btn::before {
            color: #FFF;
            font-size: 20px;
            font-family: 'FontAwesome';
            content: '\f00d'; }
      .header .menu--main .menu-offset-left.fade-in {
        left: 0; } }
  .header .social-media,
  .header .social-icon-link {
    float: right;
    width: 25%;
    margin: 17px 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .header .social-media ul,
    .header .social-icon-link ul {
      display: inline-block;
      padding: 0;
      list-style: none; }
      .header .social-media ul li,
      .header .social-icon-link ul li {
        display: inline-block; }
        .header .social-media ul li a,
        .header .social-icon-link ul li a {
          display: inline-block;
          height: 20px;
          width: 20px;
          background-image: url("../images/facebooklogo.svg");
          background-repeat: no-repeat;
          background-size: 100% auto;
          font-size: 0;
          opacity: .6;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
          .header .social-media ul li a:hover,
          .header .social-icon-link ul li a:hover {
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
            opacity: 1; }
        .header .social-media ul li.twitter a,
        .header .social-icon-link ul li.twitter a {
          background-image: url("../images/twitter.svg"); }
        .header .social-media ul li.google-plus a,
        .header .social-icon-link ul li.google-plus a {
          background-image: url("../images/google-plus.svg"); }
        .header .social-media ul li.linkedin a,
        .header .social-icon-link ul li.linkedin a {
          background-image: url("../images/linkedin.svg"); }
        .header .social-media ul li.youtube a,
        .header .social-icon-link ul li.youtube a {
          background-image: url("../images/youtube.svg"); }
      .header .social-media ul:hover a,
      .header .social-icon-link ul:hover a {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8); }
    @media (max-width: 1200px) {
      .header .social-media,
      .header .social-icon-link {
        width: 100%; } }
    .header .social-media a,
    .header .social-media i,
    .header .social-icon-link a,
    .header .social-icon-link i {
      display: inline-block;
      margin: 0 12px;
      color: #888C8F; }
      .header .social-media a i,
      .header .social-media i i,
      .header .social-icon-link a i,
      .header .social-icon-link i i {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        @media (max-width: 1200px) {
          .header .social-media a i,
          .header .social-media i i,
          .header .social-icon-link a i,
          .header .social-icon-link i i {
            padding-left: 0; } }
        .header .social-media a i:hover,
        .header .social-media i i:hover,
        .header .social-icon-link a i:hover,
        .header .social-icon-link i i:hover {
          color: #FFF;
          -webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -ms-transform: scale(1.3);
          transform: scale(1.3); }
  .header .social-icon-link {
    display: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  @media (max-width: 992px) {
    .header .social-icon-link {
      display: inline-block;
      width: auto;
      margin: 20px 25px 0 0; }
      .header .social-icon-link i {
        color: #FFF;
        font-size: 22px; }
    .header .header-social-media {
      position: fixed;
      top: 0;
      right: -100%;
      bottom: 0;
      left: auto;
      z-index: 10;
      display: inline-block;
      height: 100%;
      width: 50px;
      margin: 0;
      padding: 70px 0;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center; }
      .header .header-social-media a,
      .header .header-social-media i {
        color: #FFF; }
      .header .header-social-media a {
        margin: 0 0 15px; }
      .header .header-social-media i {
        font-size: larger; }
    .header .social-icon-in .social-icon-link {
      position: relative;
      z-index: 11;
      margin: 20px -11px 0 0; }
    .header .social-icon-in .header-social-media {
      right: 0; } }
