/**
 * @file
 * SCSS file to generate CSS.
 *
 * Basic pages SCSS
 *
 * - Element Page Design
 * - Shortcode Inner Page - Grid View Page
 */

/**
 * Element Page Design
 */
.content-text-main {
  display: inline-block;
  width: 100%;
  background-color: $grey-f9;
}
.simple-content-part,
.simple-text-col-wrap {
  display: inline-block;
  width: 100%;
  padding-bottom: 50px;
}
.simple-content-part {
  color: $white;
  p {
    letter-spacing: 1px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { color: $white; }
}

/* main sections design */
.simple-text-col-wrap,
.list-section,
.border-radius-image,
.heading-section-main,
.pagination-main,
.table-main,
.form-field-main {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid $white-1;
}
/* List section design */
.list-section {
  padding-bottom: 10px;
  .ul-list,
  .ol-list {
    float: left;
    width: 50%;
    .ul-list-xmp,
    .ol-list-xmp {
      display: inline-block;
      width: auto;
      margin-top: 25px;
      padding-right: 30px;
      border: 1px solid $white-f1;
      font-size: 16px;
    }
  }
  .ul-list { border-right: 1px solid $white-1; }
  .ol-list {
    .ol-list-xmp { margin-left: 30px;}
  }
}
/* Image style design */
.border-radius-image {
  padding-bottom: 20px;
  .border-radius {
    float: left;
    margin-right: 20px;
    @include calc('width', '20% - 16px');
    &:last-child {
      margin-right: 0;
    }
    &.image-2 {
      img {
        @include border-radius(10px);
      }
    }
    &.image-3 {
      img {
        @include border-radius(15px 50px);
      }
    }
    &.image-4 {
      img {
        @include border-radius(15px 50px 30px 5px);
      }
    }
    &.circle {
      img {
        height: 150px;
        width: 150px;
        @include border-radius(100%);
      }
    }
  }
}
/* Heading section design */
.heading-section,
.heading-section-xmp {
  float: left;
  display: inline-block;
  width: 50%;
}
.heading-section-xmp {
  margin-top: 25px;
  border: 1px solid $white-f1;
  font-size: 16px;
}
/* Table section design */
.table-left-part,
.table-right-part {
  float: left;
  @include calc('width', '50% - 15px');
  margin-right: 30px;
  h4 { margin-top: 0; }
}
.table-right-part { margin-right: 0; }
.table-responsive {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}
.basic-table,
.striped-row-table {
  border: 1px solid $white-3;
}
/* table design */
table {
  th,
  td {
    padding: 5px 10px;
  }
}
/* striped row table design */
.striped-row-table {
  thead {
    background-color: $white-1;
  }
  tbody {
    tr {
      background-color: $white-1;
      &:nth-child(2n+1) {
        background-color: transparent;
      } 
    }
  }
}

/* Form Field Design */
.radio-btn,
.check-box,
.file-upload {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.select-tag {
  display: inline-block;
  margin-bottom: 15px;
}
.action-btn {
  clear: left;
}

/* Drop down Design */
.drop-down-main {
  position: relative;
  display: inline-block;
  width: 50%;
  span {
    position: relative;
    z-index: 99;
    display: block;
    height: 40px;
    width: 285px;
    padding: 0 50px 0 15px;
    border: 1px solid $grey-80;
    background: $white;
    color: $grey-f9;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 2px;
      margin-right: 15px;
      font-size: 14px;
      content: '\25B2';
    }
  }
  ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      width: 100%;
      a {
        position: relative;
        display: block;
        height: 40px;
        width: 285px;
        margin-top: 10px;
        padding-left: 15px;
        border: 1px solid $grey-80;
        background: $white;
        color: $grey-f9;
        font-size: 16px;
        line-height: 40px;
        cursor: pointer;
      }
    }
  }
  &.active-dropdown {
    span {
      &::after {
        content: '\25BC';
      }
    }
    ul {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin-top: -10px;
      li {
        position: absolute;
        top: 0;
        width: 100%;
        a {
          z-index: 9;
        }
        &:nth-last-child(3) {
          a {
            z-index: 10;
            width: 281px;
            margin-top: 13px;
            margin-left: 2px;
          }
        }
        &:nth-last-child(2) {
          a {
            z-index: 9;
            width: 274px;
            margin-top: 16px;
            margin-left: 5px;
          }
        }
        &:last-child {
          a {
            z-index: 8;
            width: 268px;
            margin-top: 19px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}

/**
 * Shortcode Inner Page - Grid View Page
 */

/* Susy Grid */
.susy-grid {
  color: $white;
  h3,
  h4 { color: $white; }
  .susy-grid-code {
    display: inline-block;
    width: 100%;
    .code {
      padding-left: 30px;
    }
  }
  .susy-example {
    display: inline-block;
    width: 100%;
    .grid-example {
      &:last-child {
        .grid {
          border-bottom: none;
        }
      }
      .grid {
        float: left;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid $white-3;
        &.col-2 { width: 50%; }
        &.col-3 { width: 33.33%; }
        &.col-4 { width: 25%; }
        &.col-5 { width: 20%;}
        &.col-10 { width: 10%; }
        &.col-12 { width: 8.333%; }
        &.col-20 { width: 5%; }
        &.col-30 { width: 3.333%; }
      }
    }
  }
}
