/**
 * @file
 * SCSS file to generate CSS.
 *
 * Footer SCSS.
 */

/* Footer Design */
.footer {
  display: inline-block;
  width: 100%;
  background-color: $black-2e;
  .newsletter-section {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    .newsletter-deatils {
      float: left;
      display: inline-block;
      width: 50%;
      @media (max-width: 992px) {
        width: 100%;
        margin-bottom: 10px;
      }
      .newsletter-title {
        margin-bottom: 25px;
        color: $white;
        text-transform: uppercase;
      }
      .newsletter-desc { font-size: 12px; }
      .newsletter-search {
        text-align: right;
        @media (max-width: 992px) {
          text-align: left;
        }
        input {
          display: inline-block;
          height: 40px;
          width: 70%;
          margin-right: -5px;
          padding-left: 14px;
          border: none;
          background-color: rgba(255, 255, 255, .1);
          color: $grey-light;
          font-size: 15px;
          &:focus {
            border: 1px solid $blue-38;
            outline: none;
          }
        }
        a {
          display: inline-block;
          padding: 11px 12px 5px;
          background-color: $blue-38;
          color: $white;
          font-size: 18px;
        }
      }
    }
  }
  .footer-grid-section {
    display: inline-block;
    width: 100%;
    .footer-grid {
      float: left;
      margin-right: 25px;
      @include calc('width', '25% - 13px');
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      @media (max-width: 992px) {
        width: 50%;
        margin-right: 0;
      }
      @media (max-width: 640px) {
        width: 100%;
        margin-right: 0;
      }
      .footer-title {
        display: inline-block;
        width: 100%;
        margin-bottom: 35px;
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
        @media (max-width: 640px) {
          margin-bottom: 15px;
        }
      }
      p {
        font-size: 12px;
      }
      .footer-blog-img {
        display: inline-block;
        width: 100%;
        margin-bottom: 12px;
        padding-right: 10px;
        padding-bottom: 12px;
        img {
          float: left;
          margin-right: 10px;
        }
        a {
          color: $grey-light;
          font-size: 12px;
          &:hover {
            color: $white;
          }
        }
      }
      .footer-tags {
        a {
          display: inline-block;
          margin: 0 3px 7px 0;
          padding: 4px 12px;
          background-color: rgba(255, 255, 255, .1);
          color: $grey-light;
          font-size: 12px;
          &:hover {
            background-color: rgba(56, 100, 255, .5);
            color: $white;
          }
        }
      }
      .footer-photostream {
        a {
          display: inline-block;
          width: auto;
          margin-right: 10px;
          margin-bottom: 10px;
          border: 1px solid $black;
          &:nth-child(3n) {
            margin-right: 0;
            @media (max-width: 1200px) {
              margin-right: 10px;
            }
            @media (max-width: 640px) {
              margin-right: 10px;
            }
          }
          img {
            display: inline-block;
            height: 79px;
            width: 79px;
          }
        }
      }
    }
  }
  .footer-menu {
    display: inline-block;
    width: 100%;
    margin: 16px 0;
    padding: 16px 0;
    text-align: center;
    ul {
      display: inline-block;
      width: 100%;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        padding: 0 10px;
        a {
          padding: 3px 6px;
          color: $grey-light;
          font-size: 14px;
          &:hover {
            border-bottom: 3px solid $grey-80;
            color: $white;
          }
        }
      }
    }
  }
  .footer-bootom {
    .footer-contact {
      float: left;
      width: 75%;
      @media (max-width: 1200px) {
        width: 100%;
      }
      .contact-grid {
        float: left;
        display: inline-block;
        width: 17%;
        margin-right: 20px;
        @media (max-width: 767px) {
          width: 33.33%;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
        &:nth-child(1) {
          &:hover {
            .footer-contact-icon {
              i {
                @include animation(slideInDown .8s ease);
              }
            }
          }
          .footer-contact-icon {
            i {
              display: inline-block;
              margin-top: 3px;
              color: $grey-bc;
              font-size: 35px;
              vertical-align: top;
              @include transition(.7s);
            }
            @keyframes slideInDown {
              from {
                transform: translateY(-50%);
              }
              to {
                transform: translateY(0%);
              }
            }
          }
        }
        &:nth-child(2) {
          &:hover {
            .footer-contact-icon {
              i {
                @include animation(shake .8s);
              }
            }
          }
          .footer-contact-icon {
            i {
              display: inline-block;
              margin-top: 3px;
              color: $grey-bc;
              font-size: 35px;
              vertical-align: top;
              @include transition(.7s);
            }
            @keyframes shake {
              0% {
                transform: rotateZ(0);
              }
              10% {
                transform: rotateZ(-30deg);
              }
              20% {
                transform: rotateZ(15deg);
              }
              30% {
                transform: rotateZ(-10deg);
              }
              40% {
                transform: rotateZ(7.5deg);
              }
              50% {
                transform: rotateZ(-6deg);
              }
              60% {
                transform: rotateZ(5deg);
              }
              70% {
                transform: rotateZ(-4.28571deg);
              }
              80% {
                transform: rotateZ(3.75deg);
              }
              90% {
                transform: rotateZ(-3.33333deg);
              }
              100% {
                transform: rotateZ(0);
              }
            }
          }
        }
        &:nth-child(3) {
          &:hover {
            .footer-contact-icon {
              .tcon-mail--envelope {
                .tcon-mail--envelope__flap {
                  @include transform(rotate3d(0, 0, 0, 0deg));
                }
              }
            }
          }
          .footer-contact-icon {
            .tcon-mail--envelope {
              position: relative;
              height: 20px;
              width: 34px;
              margin-top: 9px;
              border: none;
              background: $grey-3d;
              @include appearance(none);
              &::before,
              &::after {
                position: absolute;
                top: 0;
                bottom: 0;
                display: block;
                width: 40px;
                content: '';
              }
              &::before {
                left: 0;
                border-top: 20px solid transparent;
                border-left: 34px solid $grey-bc;
              }
              &::after {
                right: 0;
                border-top: 20px solid transparent;
                border-right: 34px solid $grey-a5;
              }
              .tcon-mail--envelope__flap {
                position: absolute;
                top: -10px;
                left: 0;
                display: inline-block;
                border-right: 16px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 17px solid transparent;
                border-color: transparent;
                border-bottom-color: $grey-ae;
                @include transform(rotate3d(360, 0, 0, 180deg));
                @include transform-origin(0 100%);
                @include transition(.7s transform ease-in-out);
                &:focus {
                  outline: none;
                }
              }
              /*.tcon-visuallyhidden {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
              }*/
            }
          }
        }
        .footer-contact-icon {
          float: left;
          margin-right: 10px;
          font-size: 40px;
        }
        .footer-contact-desc {
          p {
            margin: 0 0 4px;
            font-size: 12px;
            a {
              color: $grey-light;
              &:hover {
                border-bottom: 2px solid $grey-80;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
