/**
 * @file
 * SCSS file to generate CSS.
 *
 * Form SCSS
 */


input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea,
select,
.form-control {
  /*height: 30px;
  padding: 4px 12px;
  border-color: $black;
  background-color: $white;
  @include border-radius(0);
  @include box-shadow(none);
  &.throbbing {
    background-repeat: no-repeat;
  }*/
}
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus,
select:focus,
.form-control:focus {
  /*border-color: $black;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .2));*/
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea {
  /*@include appearance(none);*/
}

/* Button Design */
.aws-btn,
.aws-btn-blue {
  float: left;
  display: inline-block;
  min-width: 100px;
  margin-right: 20px;
  padding: 15px 10px;
  border: 2px solid $gray;
  background-color: transparent;
  color: $gray;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: capitalize;
  cursor: pointer;
  &:hover {
    background-color: $white-3;
  }
}
.aws-btn-blue {
  border: 2px solid $grey-f9;
  color: $grey-f9;
  &:hover {
    background-color: $grey-f9;
    color: $gray;
  }
}

/* Input field design */
.input-field,
.text-area-field {
  label {
    color: $white;
    font-size: 20px;
    line-height: 30px;
  }
  input,
  textarea {
    display: inline-block;
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: $white-1;
    color: $gray;
    font-size: 16px;
    &:focus {
      border: 1px solid $blue-38;
      outline: none;
    }
  }
  textarea {
    min-height: 100px;
    margin-bottom: 20px;
  }
}

/* Custom design of input[type='file'] */
.input-file {
  display: inline-block;
  .input-file-name {
    float: left;
    direction: rtl;
    display: inline-block;
    height: 40px;
    width: 250px;
    padding: 8px 15px;
    overflow: hidden;
    border: 1px solid $white-3;
    font-size: 16px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include box-sizing(border-box);
  }
  .input-file-sub {
    position: relative;
    float: right;
    display: inline-block;
    height: 40px;
    width: 75px;
    margin: 0;
    border: 1px solid $white-3;
    vertical-align: top;
    cursor: pointer;
    &::before {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 8px 0;
      background: transparent;
      color: #FFF;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      content: 'Browse';
      @include box-sizing(border-box);
    }
    input {
      position: absolute;
      height: 100%;
      width: 100%;
      cursor: pointer;
      opacity: 0;
    }
  }
}
/* End */

/* Custom radio button and checkbox design */
.input-rc {
  display: inline-block;
  margin: 0 8px 0 0;
  font-size: 16px;
  vertical-align: middle;
  input[type='checkbox'],
  input[type='radio'] {
    display: none;
    opacity: 0;
    + .input-rc-span {
      float: left;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 8px 0 0;
      border: 5px solid $white-1;
      background-color: $white-1;
      cursor: pointer;
      content: '';
    }
    &:checked + .input-rc-span {
      border: 5px solid $white-1;
      &::after {
        display: block;
        height: 9px;
        width: 4px;
        margin: -3px 0 0 1px;
        border: solid $white;
        border-width: 0 2px 2px 0;
        @include transform(rotate(45deg));
        content: '';
      }
    }
  }
  input[type='radio'] {  /* Custom radio button design */
    + .input-rc-span {
      height: 22px;
      width: 22px;
      margin-top: 0;
      @include border-radius(50%);
      border: 5px solid $white-1;
      background-color: $white-1;
    }
    &:checked + .input-rc-span {
      border: 5px solid $white;
      background-color: $grey-f9;
      &::after { display: none; }
    }
  }
}
/* End */

/**
 * Select option design
 */
.select-tag {
  position: relative;
  float: left;
  display: inline-block;
  width: 200px;
  background: #FFF;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    display: block;
    height: 0;
    width: 0;
    margin: 11px 5px 0 0;
    border-top: 8px solid $grey-80;
    border-right: 5px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 5px solid transparent;
    content: '';
  }
  select {
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    padding: 5px 25px 5px 10px;
    border: none;
    background: transparent;
    color: $black;
    line-height: 18px;
    text-align: left;
    @include appearance(none);
    @include box-shadow(none);
    &::-ms-expand {
      display: none;
    }
    &:focus { outline: none; }
  }
}
/* End */
