/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */


/**
 * Font face
 */
$opensans-extrabold: 'OpenSans Extrabold';
$opensans-bold: 'OpenSans Bold';
$opensans-semibold: 'OpenSans SemiBold';
$opensans-bolditalic: 'OpenSans BoldItalic';
$opensans-italic: 'OpenSans Italic';
$opensans-regular: 'OpenSans Regular';
$opensans-light: 'OpenSans light';

/* URLs */
$url-opensans-extrabold: url('../fonts/OpenSans/OpenSans-ExtraBold.woff');
$url-opensans-bold: url('../fonts/OpenSans/OpenSans-Bold.woff');
$url-opensans-semibold: url('../fonts/OpenSans/OpenSans-Semibold.woff');
$url-opensans-bolditalic: url('../fonts/OpenSans/OpenSans-BoldItalic.woff');
$url-opensans-italic: url('../fonts/OpenSans/OpenSans-Italic.woff');
$url-opensans-regular: url('../fonts/OpenSans/OpenSans-Regular.woff');
$url-opensans-light: url('../fonts/OpenSans/OpenSans-Light.woff');


/* Color code */
$white:                   #FFF;
$white-f1:                #F1F1F1;
$black:                   #000;
$black-33:                #333;
$black-2e:                #2E333E;
$grey-light:              #888C8F;
$grey-dark:               #222C2E;
$grey-f9:                 #272B65;
$grey-80:                 #808080;
$grey-f0:                 #F0F0F0;
$red-dark:                #5E341D;
$blue-38:                 #3864FF;
$blue-light:              #00BFFF;
$blue-2b:                 #2B91FC;
$grey-3d:                 #3D3F41;
$grey-bc:                 #BCBCBD;
$grey-a5:                 #A5ACAE;
$grey-ae:                 #AEB3B5;
$grey-42:                 #424751;
$grey-81:                 #81848B;
$white-1: rgba(255, 255, 255, .1);
$gray:                    #EFEFEF;
$white-3: rgba(255, 255, 255, .3);

/**
 * Media query (for responsive design)
 */
$small-desktop: 1200px;
$ipad: 1024x;
$ipad-portrait: 992px;
$mobile: 767px;
$mobile-landscape: 600px;
$mobile-portrait: 480px;
$small-mobile-portrait: 360px;
/* End */
